.cowboy {
  box-sizing: border-box;
  height: 65px;
  padding: 11px;

  &:hover {
    background-color: $contacts-bg-color--hover;
  }

  &__avatar,
  &__info {
    float: left;
  }

  &__avatar {
    margin-right: 10px;
  }

  &__info {
    height: 42px;
    vertical-align: middle;

    &__name {
      font-size: 14px;
      line-height: 26px;
    }

    &__recent {
      font-size: 12px;
      line-height: 16px;
      color: $text-color--sub;
    }
  }
}
