.menu__container {
  width: 100%;
  height: 100%;
  padding-top: 32px;
  background-color: $menu-bg;
  text-align: center;
  -webkit-app-region: drag;
}

.menu__item {
  height: 40px;
  vertical-align: middle;
  color: $menu-color;

  svg {
    height: 40px;
    line-height: 40px;
  }
}
